$o-assets-global-path: '//build.origami.ft.com/files/';

@import 'o-comment-ui/main';
@import "o-overlay/main";

$o-ft-icons-is-silent: false;
@import "o-ft-icons/main";

.o-chat {
	font-size: 12px;

	@import './src/stylesheets/generic';
	@import './src/stylesheets/comments';
	@import './src/stylesheets/editor';
}

@import './src/stylesheets/notification';
