.o-comment-client {
    &.comment-layout-side {
        .comment-container {
            overflow: auto;
            max-height: 400px;
        }
    }

    .comment-container {
        .comment-wrapper {
            color: oColorsGetPaletteColor(grey-tint5);
            font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
            border-bottom: 1px solid $borderColor;
            padding: 10px 0;

            &:last-child {
                border-bottom: 0;
            }

            .comment-timestamp {
                display: inline;
            }

            .comment-author {
                display: inline;
                font-weight: bold;
            }

            .comment-content {
                display: inline;

                p {
                    display: inline;
                }
            }
        }
    }
}