.o-comment-client {
    .comment-comments-area {
        .comment-show-more {
            display: none;

            color: white;
            text-align: center;
            position: relative;

            .comment-show-more-line {
                position: absolute;
                top: 50%;
                width: 100%;
                border-top: 1px solid $borderColor;
            }

            .comment-show-more-label {
                display: inline-block;
                position: relative;
                background: #4e8fbd;
                background: -webkit-gradient(linear, left top, left bottom, from(#549ccf), to(#4782ab));
                background: -moz-linear-gradient(#549ccf, #4782ab);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf,endColorstr=#4782ab);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#549ccf, endColorstr=#4782ab)";
                padding: 2px 5px;
                border-radius: 3px;
                cursor: pointer;
            }

            .comment-show-more-label:active {
                background: oColorsGetPaletteColor(pink-tint4);
            }
        }

        .comment-comments-container {
            .comment-wrapper {
                color: oColorsGetPaletteColor(grey-tint5);
                font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
                border-bottom: 1px solid $borderColor;
                padding: 10px 0;
                list-style-type: none;
                list-style-position: outside;

                &:last-child {
                    border-bottom: 0;
                }

                .comment-timestamp {
                    display: inline;
                    font-size: 10px;
                    color: oColorsGetPaletteColor(grey-tint3);
                    font-style: italic;
                }

                .comment-author {
                    display: inline;
                    font-weight: bold;
                }

                .comment-content {
                    display: inline;

                    p {
                        display: inline;
                    }
                }

                .comment-delete {
                    float: right;
                    padding-right: 10px;
                }
            }
        }
    }
}