a {
	color: oColorsGetPaletteColor("blue");
	text-decoration: none;

	&:hover {
		color: oColorsGetPaletteColor("black");
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-position: outside;
}


&.o-chat--order-inverted.o-chat--stretch-vertical {
	@include oGridRespondTo($until: M) {
		display: flex;
		flex-direction: column;

		.o-chat--comments-wrapper {
			order: 2;
		}

		.o-chat--editor-area {
			order: 1;
		}

		.o-chat--comments-container {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}
