.o-chat {
	font-size: 12px;

	a {
		color: oColorsGetPaletteColor(blue);
		text-decoration: none;

		&:hover {
			color: oColorsGetPaletteColor(black);
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		list-style-position: outside;
	}
}
