.o-chat--notification {
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);

	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;

	padding: 15px 0;
	text-align: center;

	.o-chat--notification-button {
		display: inline-block;
		background-color: oColorsGetPaletteColor(blue);
		color: oColorsGetPaletteColor(white);
		cursor: pointer;
		padding: 3px 8px;
		border-radius: 5px;
		font-size: 13px;
	}
}

.o-chat--notification-fade-top {
	$notificatoinFadeColorStart: rgba(246, 233, 216, 1);
	$notificatoinFadeColorStop: rgba(246, 233, 216, 0);

	background-image: -moz-linear-gradient(top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: -ms-linear-gradient(top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($notificatoinFadeColorStart), to($notificatoinFadeColorStop));
	background-image: -webkit-linear-gradient(top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: -o-linear-gradient(top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: linear-gradient(top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6E9D8', endColorstr='#00F6E9D8',GradientType=0); /* ie6-9 */
}

.o-chat--notification-fade-bottom {
	$notificatoinFadeColorStart: rgba(246, 233, 216, 1);
	$notificatoinFadeColorStop: rgba(246, 233, 216, 0);

	background-image: -moz-linear-gradient(bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: -ms-linear-gradient(bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from($notificatoinFadeColorStart), to($notificatoinFadeColorStop));
	background-image: -webkit-linear-gradient(bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: -o-linear-gradient(bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-image: linear-gradient(bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00F6E9D8', endColorstr='#FFF6E9D8',GradientType=0); /* ie6-9 */

}
